/*************************************************
    GENERAL STYLES
*************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    height: 100vh;
}

:root {
    --colorBG: #141922;
    --colorHeader: #090B12;
    --colorFooter: #282828;
    --colorSidebar: #000000;
    --colorAccent: #BAFF36;
    --widthSidebarOpen: 250px;
    --heightHeader: 70px;
    --heightFooter: 70px;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}


/************************************************
    UTILITIES
************************************************/

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    padding-inline: 20px;
}


/************************************************
    SITE SECTIONS
************************************************/


/* SECTION SIDEBAR START *************************************/

aside {
    background-color: var(--colorSidebar);
    height: calc(100vh - var(--heightFooter));
    width: var(--widthSidebarOpen);
    padding-top: 20px;
    padding-bottom: 10px;
}

aside figure {
    width: 160px;
}

aside a {
    font-size: .8rem;
}

aside .menu {
    margin-top: 30px;
}

aside .menu ul {
    gap: 10px;
}

aside .menu li {
    padding-left: 20px;
}

aside .menu li:hover {
    border-left: 2px solid;
    border-color: var(--colorAccent);
    padding-left: calc(20px - 2px);
}

aside .menu li a {
    gap: 5px;
}

aside .menu li svg {
    width: 20px;
}

aside .playlist {
    margin-top: 25px;
}

aside .playlist h3 {
    text-transform: uppercase;
    font-size: .9rem;
}

aside .playlist .crea-playlist {
    margin-block: 10px;
    align-items: center;
    gap: 10px;
}

aside .playlist .crea-playlist span:first-child {
    background-color: white;
    color: var(--colorSidebar);
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
}

aside .playlist .crea-playlist span:last-child {
    font-size: .9rem;
    font-weight: 600;
}

aside .playlist ul {
    gap: 10px;
}


/* !SECTION SIDEBAR END */


#header-main {
    width: calc(100vw - var(--widthSidebarOpen));
}


/* SECTION HEADER START *************************************/

header {
    background-color: var(--colorHeader);
    width: 100%;
    height: var(--heightHeader);
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

/* !SECTION HEADER END */


/* SECTION MAIN START *************************************/

main {
    background-color: var(--colorBG);
    height: calc(100vh - var(--heightHeader) - var(--heightFooter));
    overflow: scroll;
}

/* !SECTION MAIN END */


/* SECTION FOOTER START *************************************/

footer {
    background-color: var(--colorFooter);
    height: var(--heightFooter);
}

/* !SECTION FOOTER END */