/*************************************************
    GENERAL STYLES
*************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    height: 100vh;
}

:root {
    --colorBG: #141922;
    --colorHeader: #090B12;
    --colorFooter: #282828;
    --colorSidebar: #000000;
    --colorAccent: #BAFF36;
    --widthSidebarOpen: 220px;
    --widthSidebarClosed: 60px;
    --heightHeader: 70px;
    --heightFooter: 70px;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

/* TEXT */

h2 {
    font-size: 1.2rem;
}

h4 {
    font-size: .9rem;
    font-weight: 800;
}

h6 {
    font-size: .6rem;
    font-weight: 400;
    filter: opacity(.5);
}


/************************************************
    UTILITIES
************************************************/

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    padding-inline: 20px;
}

.xs-only {
    display: none;
}


/************************************************
    SITE SECTIONS
************************************************/

.web-app-top {
    height: calc(100vh - var(--heightFooter));
}


/* SECTION SIDEBAR START *************************************/

aside {
    background-color: var(--colorSidebar);
    width: var(--widthSidebarOpen);
    padding-top: 20px;
    overflow: hidden;
}

aside .aside-top {
    height: 100%;
}

aside figure {
    width: 160px;
}

aside a {
    font-size: .8rem;
    filter: opacity(.6);
}

aside a.home {
    filter: opacity(1);
}

aside .menu li:has(> a.home) {
    border-left: 2px solid;
    border-color: var(--colorAccent);
    padding-left: calc(20px - 2px);
}

aside a:hover {
    filter: opacity(1);
}

aside .menu {
    margin-top: 30px;
}

aside .menu ul {
    gap: 10px;
}

aside .menu li {
    padding-left: 20px;
}

aside .menu li a {
    gap: 5px;
}

aside .menu li svg {
    width: 20px;
}

aside .playlist {
    margin-block: 25px;
    height: 50%
}

aside .playlist h3 {
    text-transform: uppercase;
    font-size: .9rem;
}

aside .playlist .playlist-name {
    overflow: scroll;
    font-size: .5rem;
    gap: 10px;
    height: 80%;
}

aside .playlist .crea-playlist {
    margin-block: 10px;
    align-items: center;
    gap: 10px;
    filter: opacity(.6);
    cursor: pointer;
    font-size: .5rem;
}

aside .playlist .crea-playlist:hover {
    filter: opacity(1);
}

aside .playlist .crea-playlist span:first-child {
    background-color: white;
    color: var(--colorSidebar);
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
}

aside .playlist .crea-playlist span:last-child {
    font-size: .9rem;
    font-weight: 600;
}

aside .install-app {
    height: 80px;
}

aside .install-app .download li a {
    gap: 5px;
    font-size: .7rem;
}

aside .install-app .download li svg {
    width: 15px;
}

aside .install-app hr {
    border: .5px solid white;
    filter: opacity(.5);
    margin-block: 10px;
}

aside .install-app .account li a {
    font-weight: 700;
    font-size: .8rem;
    gap: 10px;
    align-items: center;
    filter: opacity(1);
}

aside .install-app .account li svg {
    width: 20px;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}


/* !SECTION SIDEBAR END */


#header-main {
    height: 100%;
    width: calc(100% - var(--widthSidebarOpen));
    overflow: scroll;
    background-color: var(--colorBG);
}


/* SECTION HEADER START *************************************/

header {
    background-color: var(--colorHeader);
    filter: opacity(.8);
    height: var(--heightHeader);
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    position: fixed;
    top: 0;
    left: var(--widthSidebarOpen);
    right: 0;
    z-index: 1;
}

header button {
    background-color: var(--colorHeader);
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .7rem;
    padding: 10px 30px;
    transform: scale(1);
}

header button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* !SECTION HEADER END */


/* SECTION MAIN START *************************************/

main {
    padding-top: 100px;
    padding-bottom: 50px;
}

main .menu ul {
    gap: 20px;
    justify-content: center;
}

main .menu ul li a {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
    filter: opacity(.5);
}

main .menu ul li a:hover {
    filter: opacity(1);
}

main .menu .active {
    height: 2px;
    width: 30px;
    background-color: var(--colorAccent);
}

main .menu li:has(div.active) {
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

main #recently-played,
main #created-for,
main #populars {
    margin-top: 30px;
    padding-right: 30px;
}

main .title-description {
    font-size: .6rem;
    filter: opacity(.5);
}

main .cards {
    gap: 15px;
    margin-top: 20px;
}

main .card {
    width: calc((100% / 6) - 15px + 15px / 6);
    text-align: center;
}

main .card:hover {
    cursor: pointer;
}

main .card img {
    max-width: 200px;
}

main .card figure {
    background-color: black;
    position: relative;
}

main .card figure:hover::after {
    content: '\f144';
    font-family: 'Font Awesome 6 Free';
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

main .card:hover figure img {
    filter: opacity(.3);
}

main .card h4 {
    margin-top: 15px;
    margin-bottom: 7px;
}

main #populars figure,
main #populars img {
    border-radius: 50%;
}


/* Creato per John Doe */



/* !SECTION MAIN END */


/* SECTION FOOTER START *************************************/

footer {
    background-color: var(--colorFooter);
    height: var(--heightFooter);
    padding: 10px;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

footer .col-left {
    gap: 20px;
    align-items: center;
    flex-basis: 25%;
}

footer .col-left .song-playing {
    gap: 10px;
    align-items: center;
}

footer .col-left .song-name span:first-child {
    font-size: .7rem;
    font-weight: 700;
}

footer .col-left .song-name span:last-child {
    font-size: .6rem;
    font-weight: 500;
    filter: opacity(.5);
}

footer .col-left .song-name span:last-child:hover {
    filter: opacity(1);
    text-decoration: underline;
    cursor: pointer;
}

footer .col-left .song-playing figure {
    width: 40px;
}

footer .col-left .save-song {
    gap: 15px;
}

footer .col-left .save-song i {
    font-size: 15px;
    filter: opacity(.5);
}

footer .col-left .save-song i:hover {
    filter: opacity(1);
    cursor: pointer;
}

footer .col-mid .fa-circle-play {
    scale: 1.6;
}

footer .col-mid .fa-circle-play:hover {
    scale: 1.7;
    cursor: pointer;
}

footer .col-mid {
    flex-basis: 50%;
    align-items: center;
    gap: 15px;
}

footer .col-mid .controllers {
    gap: 20px;
}

footer .col-mid .song-bar {
    gap: 20px;
    align-items: center;
}

footer .col-mid .song-bar span {
    font-size: .5rem;
    font-weight: 600;
}

footer .col-mid .song-bar .all-bar {
    width: 30vw;
}

footer .col-mid .song-bar .progress {
    width: 20%;
}

footer .all-bar {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

footer .progress {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    position: relative;
}

footer .all-bar:hover {
    cursor: pointer;
}

footer .all-bar:hover .progress {
    background-color: var(--colorAccent);
}

footer .all-bar:hover .progress::after {
    content: "\f111";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    font-size: 12px;
    right: 0;
    top: -5px;
}

footer .col-right {
    flex-basis: 25%;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

footer .col-right i {
    font-size: 10px;
}

footer .col-right .all-bar {
    width: 5vw;
}

footer .col-right .progress {
    width: 2vw;
}



/* !SECTION FOOTER END */



/************************************************
    RESPONSIVE
************************************************/


/* Tablet 768px */

@media screen and (max-width: 768px) {

    main #recently-played,
    main #created-for {
        padding-right: 10px;
    }

    main .card {
        width: calc((100% / 4) - 15px + 15px / 4);
    }

    footer {
        gap: 20px;
    }
}


/* Mobile 576px */

@media screen and (max-width: 576px) {

    main .card {
        width: calc((100% / 2) - 15px + 15px / 2);
    }

    footer .col-right {
        gap: 10px;
    }

    footer .col-left .save-song {
        flex-direction: column;
        gap: 5px;
    }

}


/* Mobile XS 425px */

@media screen and (max-width: 425px) {

    .hidden-xs {
        display: none;
    }

    .xs-only {
        display: inline-block;
    }

    aside {
        width: var(--widthSidebarClosed);
    }

    aside .menu {
        margin-top: 0;
    }

    aside .menu figure {
        width: 25px;
    }

    aside .menu ul {
        align-items: center;
    }

    aside .menu li {
        padding-left: 0;
    }

    aside .menu li:has(> a.home) {
        border-left: 0;
        padding-left: 0;
    }

    aside .install-app {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #header-main {
        width: calc(100% - var(--widthSidebarClosed));
    }

    header {
        left: var(--widthSidebarClosed);
    }


}